<div ng-include="'templates/_navbar.html'"></div>
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Configure</h1>
      <p>Configure a new test suite.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <h2>Docker</h2>
      <p>Enter your Docker configuration below. This will be used to build and host your test suite.</p>
      <h3>Dockerfile</h3>
      <div ui-ace ng-model="files.dockerfile"></div>
      <h3>docker-compose.yml</h3>
      <div ui-ace ng-model="files.dockerCompose"></div>
    </div>

    <div class="col-md-6">
      <h2>Tasks</h2>
      <p>Enter all the behaviors you want tested in your app.</p>

      <div class="taskAdd">
        <form class="form-inline">
          <input type="text" class="form-control" ng-model="nextTask" placeholder="Task title" />
          <button class="btn btn-success" ng-click="addTask()">Add</button>
        </form>
      </div>

      <div id="tasks">
        <div ng-repeat="task in tasks" class="configure-task">
          <p>{{ task.title }}</p>
        </div>
      </div>

    </div>
  </div>

</div>
<div ng-include="'templates/_footer.html'"></div>
