<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Test for "{{ test.name }}"</h1>
      <a ng-href="{{ test.link }}" class="btn btn-lg btn-primary" target="_blank">View HTTP</a>
      <a ng-href="{{ test.link }}" class="btn btn-lg btn-info" target="_blank">SSH</a>
      <a ng-href="{{ test.link }}" class="btn btn-lg btn-success" target="_blank">View on Github</a>
      <a ng-href="{{ test.link }}" class="btn btn-lg btn-warning" target="_blank">Reload</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <h2>Tasks</h2>

      <div class="task-list">
        <div ng-repeat="task in test.tasks" class="test-task">
          <p>{{ task.title }}</p>
          <div class="set-status" ng-if="task.status">
            <button href="#" ng-click="markTask(task, 'pass')" class="btn btn-sm btn-success"><i class="fa fa-check"></i></button>
            <button href="#" ng-click="markTask(task, 'pass')" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-7">
      <h2>Comments</h2>
    </div>
  </div>

</div>
