.test-task {
  border-bottom: 1px #eee solid;
  line-height: 0px;
  padding: 5px;
}

.test-task .task-status {
  margin-left: 10px;
  width: 15px;
  display: inline-block;
}

.test-task p {
  margin: 15px;
  display: inline-block;
}

.test-task .set-status {
  float: right;
}

.test-task:last-child {
  border-bottom: none;
}

.test-task:hover {
  background-color: #eee;
}

.configure-task {
  border-bottom: 1px #eee solid;
  line-height: 0px;
  padding: 5px;
}

.configure-task p {
  margin: 15px;
  display: inline-block;
}

.configure-task button {
  float: right;
}

.configure-task:last-child {
  border-bottom: none;
}

.configure-task:hover {
  background-color: #eee;
}

.ace_editor {
  height: 200px;
}

footer {
  margin-top: 100px;
  background-color: #eee;
  padding: 30px;
}

.task-add {
  margin-bottom: 20px;
}

.task-list {
  height: 300px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.comment-controls {
  float: right;
}

.comment-controls button {
  margin-top: 10px;
  margin-left: 5px;
}

.comment {
  border-top: 1px #eee solid;
  padding-top: 15px;
}

.author {
  display: inline-block;
  margin-right: 20px;
}

.author p {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.comment .content {
  display: inline-block;
  vertical-align: top;
}

.comment-compose .name {
  display: inline-block;
  padding: 20px 0px;
}
