textarea.form-control {
  height: 200px;
}

.configure-task {
  border-bottom: 1px #eee solid;
  line-height: 0px;
  padding: 10px;
}

.configure-task p {
  margin: 10px;
}

.configure-task:last-child {
  border-bottom: none;
}

.ace_editor {
  height: 200px;
}
